/* CURSOR */

.tree-cursor-base {
  cursor: default;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 0px;
  width: 0px;
  z-index: -100;  
}

.tree-horizontal-cursor {
  @extend .tree-cursor-base;
  border-bottom: 1px dashed #888;
}

.tree-vertical-cursor {
  @extend .tree-cursor-base;
  border-left: 1px dashed #888;
}

.tree-plus-cursor {
  cursor: default;
  display: none;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 16px;
  width: 16px;
  color: #090;
  font: bold 20px/20px arial;
}
