*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.tree-top {
  /*border: 1px solid #EEE;*/
}

/* the tree node's style */
.tree-view {
  overflow-y: hidden;
  /*border-top: 1px solid transparent;*/
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
}

.tree-view-drop-bottom {
  border-bottom: 1px dashed silver;
  border-left: 1px dashed silver;
}

.tree-view-drop-top {
  border-top: 1px dashed silver;
}

/* style for the container */
.tree-view-children {
  margin-left: 16px;
}

/*
.tree-view_children-collapsed {
  height: 0px;
}
*/

.tree-icon {
  color: olive;
}

.tree-drop {
  height: 0;
  position: relative;
  z-index: -100;
}

.tree-drop-line {
  position: absolute;
  height: 1px;
  background-color: silver;
  width: 100%;
}

.tree-drop-line-indent {
  /*margin-left: 16px;*/
}

.tree-drop-zone-bottom {
  position: relative;
  height: 5px;
  border-bottom: 1px solid white;
}

.tree-drop-zone-bottom:hover {
  position: relative;
  height: 5px;
  border-bottom: 1px dashed silver;
}

.tree-drop-zone-bottom-line {
}

.tree-view-arrow {
  cursor: pointer;
  margin-right: 6px;
  display: inline-block;
  width: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
}

/* rotate the triangle to close it */
.tree-view-arrow-collapsed {
  width: 10px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  float: left;
}

.node {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px;
}

.node:hover {
  background-color: rgb(220, 245, 243);
  cursor: pointer;
}

.info, .node {
  padding: 2px 10px 2px 5px;
  font: 14px Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tree-view_arrow {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.tree-view_arrow-empty {
  color: yellow;
}

/* NEW STUFF */

#tree {
  width: 200px;
}

/* Why overflow: hidden; Also see float: left on arrow
http://stackoverflow.com/questions/1260122/expand-div-to-take-remaining-width
*/

.tree-label {
  font: 14px/20px arial;
  overflow: hidden;
  cursor: pointer;
}

.tree-horizontal-cursor {
  cursor: pointer;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 0px;
  width: 100px;
  border-bottom: 1px dashed #888;
  z-index: -100;
}

.tree-vertical-cursor {
  cursor: pointer;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 0px;
  width: 0px;
  border-left: 1px dashed #888;
  z-index: -100;
}

.tree-plus-cursor {
  cursor: pointer;
  display: none;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 16px;
  width: 16px;
  background-color: silver;
  color: white;
  font: 14px/14px arial;
  border-radius: 8px;
}

.tree-view-spacer {
  cursor: pointer;
}

.tree-view-spacer-indent {
  margin-left: 16px;
  height: 2px;
}